# Python bytecode files
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environment directories
venv/
env/
ENV/
.venv/
.ENV/

# VSCode settings
.vscode/

# Distribution / packaging
*.egg-info/
*.egg/
dist/
build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pytest cache
.cache/

# mypy
.mypy_cache/

# VSCode settings
.vscode/

# PyCharm settings
.idea/

# Sphinx documentation build
_build/
doc/_build/

# Sphinx config files
sphinx/.sphinx/

# Other temporary files
*.log
*.swp
*.swo
*.bak
*.tmp
*.orig

