[MASTER]
load-plugins=

[DESIGN]
# Allow functions to have up to 10 arguments
max-args=10
# Allow functions to have up to 25 local variables
max-locals=50

# Maximum number of statements in a method
# Default is 50. Setting to 100 to allow more.
max-statements=100

# Maximum branches allowed in a method.
# Default is 12. Setting to 15 to allow more branches.
max-branches=15

[MESSAGES CONTROL]
disable=too-many-positional-arguments,too-few-public-methods

